@import "tailwindcss";

@theme {
  --color-background: #ffffff;
  --color-foreground: #000000;

  --animate-marquee: marquee 30s linear infinite;
  --animate-float: float 6s ease-in-out infinite;
  --animate-float-delayed: float 6s ease-in-out 3s infinite;
  --animate-spin-slow: spin 8s linear infinite;

  @keyframes marquee {
    0% {
      transform: translateX(0%);
    }

    100% {
      transform: translateX(-50%);
    }
  }

  @keyframes float {

    0%,
    100% {
      transform: translateY(0);
    }

    50% {
      transform: translateY(-20px);
    }
  }
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
    font-family: Arial, Helvetica, sans-serif;
  }
}